# course config files
*.yaml

# gradle
.gradle/
build


# idea config
.idea

# old stages
/Last Pencil (Python)/*
!/Last Pencil (Python)/task/
/Last Pencil (Python)/task/*
!/Last Pencil (Python)/task/game.py
